In [2]:
import pandas as pd
import numpy as np
from scipy import stats

import sklearn.metrics

In [3]:
df_labels = pd.read_csv('input/train.csv').drop('grapheme',axis=1)

df_labels

            image_id  grapheme_root  vowel_diacritic  consonant_diacritic
0            Train_0             15                9                    5
1            Train_1            159                0                    0
2            Train_2             22                3                    5
3            Train_3             53                2                    2
4            Train_4             71                9                    5
...              ...            ...              ...                  ...
200835  Train_200835             22                7                    2
200836  Train_200836             65                9                    0
200837  Train_200837              2                1                    4
200838  Train_200838            152                9                    0
200839  Train_200839            127                2                    0

[200840 rows x 4 columns]

In [4]:
for i in range(3):
    s = str(i+1)

    df=pd.read_csv('mod'+s+'_train_inference')
    df.columns=['image_id','gr'+s,'vd'+s,'cd'+s]
    
    df_labels = df_labels.merge(df,on='image_id')

# mode

In [5]:
df_labels

,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,gr1,vd1,cd1,gr2,vd2,cd2,gr3,vd3,cd3
0,Train_0,15,9,5,15,9,5,15,9,5,15,9,5
1,Train_1,159,0,0,159,0,0,159,0,0,159,0,0
2,Train_2,22,3,5,22,3,5,22,3,5,22,3,5
3,Train_3,53,2,2,53,2,2,53,2,2,53,2,2
4,Train_4,71,9,5,71,9,5,71,9,5,71,9,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200835,Train_200835,22,7,2,22,7,2,22,7,2,22,7,2
200836,Train_200836,65,9,0,65,9,0,65,9,0,65,9,0
200837,Train_200837,2,1,4,2,1,4,2,1,4,2,1,4
200838,Train_200838,152,9,0,152,9,0,152,9,0,152,9,0
200839,Train_200839,127,2,0,127,2,0,127,2,0,127,2,0

In [6]:
#df_labels.groupby(['image_id'])[['gr1','gr2','gr3']].agg(lambda x:x.value_counts().index[0])

In [7]:
df_labels

,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,gr1,vd1,cd1,gr2,vd2,cd2,gr3,vd3,cd3
0,Train_0,15,9,5,15,9,5,15,9,5,15,9,5
1,Train_1,159,0,0,159,0,0,159,0,0,159,0,0
2,Train_2,22,3,5,22,3,5,22,3,5,22,3,5
3,Train_3,53,2,2,53,2,2,53,2,2,53,2,2
4,Train_4,71,9,5,71,9,5,71,9,5,71,9,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200835,Train_200835,22,7,2,22,7,2,22,7,2,22,7,2
200836,Train_200836,65,9,0,65,9,0,65,9,0,65,9,0
200837,Train_200837,2,1,4,2,1,4,2,1,4,2,1,4
200838,Train_200838,152,9,0,152,9,0,152,9,0,152,9,0
200839,Train_200839,127,2,0,127,2,0,127,2,0,127,2,0

In [8]:
y = df_labels[['grapheme_root','vowel_diacritic','consonant_diacritic']].values
y_pred1 = df_labels[['gr1','vd1','cd1']].values
y_pred2 = df_labels[['gr2','vd2','cd2']].values
y_pred3 = df_labels[['gr3','vd3','cd3']].values
y

array([[ 15,   9,   5],
       [159,   0,   0],
       [ 22,   3,   5],
       ...,
       [  2,   1,   4],
       [152,   9,   0],
       [127,   2,   0]])

In [9]:
def scores(y, y_pred):
    rs1=sklearn.metrics.recall_score(y[:,0], y_pred[:,0], average='macro')
    rs2=sklearn.metrics.recall_score(y[:,1], y_pred[:,1], average='macro')
    rs3=sklearn.metrics.recall_score(y[:,2], y_pred[:,2], average='macro')

    return rs1, rs2, rs3, np.average([rs1, rs2, rs3], weights=[2,1,1])

In [10]:
print('score mod1:',scores(y, y_pred1))
print('score mod2:',scores(y, y_pred2))
print('score mod3:',scores(y, y_pred3))

score mod1: (0.9791288136227843, 0.992095667949485, 0.9890181961459653, 0.9848428728352547)
score mod2: (0.9770276579062256, 0.9914654198133533, 0.9877529780232656, 0.9833184284122675)
score mod3: (0.9787038698519229, 0.9924437456693674, 0.9897706553381732, 0.9849055351778466)

In [11]:
df_labels[(df_labels.grapheme_root!=df_labels.gr1) & (df_labels.grapheme_root==54)].reset_index() #.shape

,index,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,gr1,vd1,cd1,gr2,vd2,cd2,gr3,vd3,cd3
0,61,Train_61,54,0,0,53,0,5,53,0,5,53,0,5
1,3733,Train_3733,54,1,0,53,1,5,54,1,5,53,1,5
2,4365,Train_4365,54,9,0,53,9,5,53,9,5,54,9,5
3,6662,Train_6662,54,2,0,53,2,5,53,2,5,53,2,5
4,6913,Train_6913,54,1,0,53,1,5,53,1,5,53,1,5
5,8814,Train_8814,54,1,0,53,1,5,53,1,5,53,1,5
6,11792,Train_11792,54,0,0,53,0,5,54,0,0,54,0,0
7,25012,Train_25012,54,2,0,53,2,5,53,2,5,53,2,5
8,30894,Train_30894,54,9,0,53,9,5,54,9,5,53,9,5
9,35428,Train_35428,54,0,0,6,0,0,6,0,0,54,0,0
10,36914,Train_36914,54,2,0,53,2,5,53,2,5,53,2,5
11,44906,Train_44906,54,2,0,53,2,5,53,2,5,53,2,5
12,50123,Train_50123,54,9,0,53,9,5,54,9,0,53,9,5
13,53021,Train_53021,54,1,0,53,1,5,53,1,5,53,1,5
14,60586,Train_60586,54,2,0,53,2,5,53,2,5,53,2,5
15,63820,Train_63820,54,1,0,53,1,5,53,1,5,53,1,5
16,75741,Train_75741,54,0,0,53,0,5,53,0,5,53,0,5
17,83305,Train_83305,54,1,0,53,1,5,54,1,0,54,1,0
18,88222,Train_88222,54,2,0,53,2,5,53,2,5,53,2,5
19,89745,Train_89745,54,0,0,53,0,5,53,0,5,53,0,5
20,90031,Train_90031,54,2,0,53,2,5,53,2,5,53,2,5
21,93503,Train_93503,54,0,0,53,0,5,53,0,5,54,0,0
22,102421,Train_102421,54,1,0,53,1,5,53,1,5,53,1,5
23,102641,Train_102641,54,0,0,53,0,5,53,0,5,53,0,5
24,104287,Train_104287,54,0,0,53,0,5,53,0,5,53,0,5
25,104596,Train_104596,54,9,0,53,9,0,54,9,0,54,9,0
26,109395,Train_109395,54,2,0,53,2,5,53,2,5,54,2,0
27,111159,Train_111159,54,1,0,53,1,5,54,1,0,53,1,5
28,113292,Train_113292,54,2,0,53,2,5,53,2,5,53,2,5
29,118898,Train_118898,54,9,0,53,9,5,53,9,5,53,9,5
30,120570,Train_120570,54,9,0,53,9,5,53,9,5,53,9,5
31,120661,Train_120661,54,0,0,53,0,5,53,0,5,53,0,5
32,123138,Train_123138,54,1,0,53,1,5,53,1,5,54,1,0
33,123215,Train_123215,54,0,0,53,0,5,53,0,5,53,0,5
34,125222,Train_125222,54,2,0,53,2,5,53,2,5,54,2,5
35,130042,Train_130042,54,9,0,53,9,5,53,9,5,53,9,5
36,131282,Train_131282,54,1,0,53,1,5,53,1,5,53,1,5
37,134077,Train_134077,54,9,0,53,9,5,53,9,5,53,9,5
38,134916,Train_134916,54,0,0,53,0,5,53,0,5,53,0,5
39,134922,Train_134922,54,2,0,53,2,5,53,2,5,53,2,5
40,135691,Train_135691,54,1,0,53,1,5,53,1,5,54,1,5
41,140038,Train_140038,54,0,0,53,0,5,53,0,5,53,0,5
42,142224,Train_142224,54,2,0,53,2,5,53,2,5,53,2,5
43,142964,Train_142964,54,2,0,53,2,5,53,2,5,53,2,5
44,146030,Train_146030,54,9,0,53,9,5,53,9,5,53,9,5
45,150960,Train_150960,54,9,0,53,9,5,54,9,0,53,9,5
46,153673,Train_153673,54,0,0,53,0,5,53,0,5,53,0,5
47,154284,Train_154284,54,9,0,53,9,5,53,9,5,53,9,5
48,171972,Train_171972,54,2,0,53,2,5,53,2,5,53,2,5
49,172117,Train_172117,54,0,0,53,0,5,53,0,5,53,0,5
50,173312,Train_173312,54,0,0,53,0,5,53,0,5,53,0,5
51,176867,Train_176867,54,0,0,53,0,5,53,0,5,53,0,5
52,177079,Train_177079,54,2,0,53,2,5,53,2,5,53,2,5
53,182442,Train_182442,54,0,0,53,0,5,54,0,5,53,0,5
54,182966,Train_182966,54,9,0,53,9,5,54,9,5,54,9,5
55,196895,Train_196895,54,0,0,53,0,5,54,0,0,54,0,0
56,198984,Train_198984,54,0,0,53,0,5,53,0,5,53,0,5

# Random Forest

In [31]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics  import recall_score
import pickle

In [32]:
df_gr = df_labels[['gr1','gr2','gr3']].values
y_gr = df_labels[['grapheme_root']].values.ravel() #[:-20000]
df_vd = df_labels[['vd1','vd2','vd3']].values
y_vd = df_labels[['vowel_diacritic']].values.ravel() #[:-20000]
df_cd = df_labels[['cd1','cd2','cd3']].values
y_cd = df_labels[['consonant_diacritic']].values.ravel() #[:-20000]

df_all = df_labels[['gr1','gr2','gr3','vd1','vd2','vd3','cd1','cd2','cd3']].values #[:-20000]

In [33]:
df_all.shape, y_gr.shape

((200840, 9), (200840,))

In [34]:
modGR = RandomForestClassifier(random_state=2020).fit(X=df_all, y=y_gr)
modVD = RandomForestClassifier(random_state=2020).fit(X=df_all, y=y_vd)
modCD = RandomForestClassifier(random_state=2020).fit(X=df_all, y=y_cd)

In [38]:
pickle.dump(modGR, open('RF_gr_all_100', 'wb'))
pickle.dump(modVD, open('RF_vd_all_100', 'wb'))
pickle.dump(modCD, open('RF_cd_all_100', 'wb'))

In [35]:
preds_gr = modGR.predict(df_all)
preds_vd = modVD.predict(df_all)
preds_cd = modCD.predict(df_all)

In [36]:
# all 90 %

In [30]:
rfrs1=recall_score(y_gr, preds_gr, average='macro')
rfrs2=recall_score(y_vd, preds_vd, average='macro')
rfrs3=recall_score(y_cd, preds_cd, average='macro')

rfrs1, rfrs2, rfrs3,np.average([rfrs1, rfrs2, rfrs3], weights=[2,1,1])

(0.987356391219454, 0.9956601794621338, 0.9931159080946993, 0.9908722174989353)

In [ ]:
# all 100%

In [18]:
rfrs1=recall_score(y_gr, preds_gr, average='macro')
rfrs2=recall_score(y_vd, preds_vd, average='macro')
rfrs3=recall_score(y_cd, preds_cd, average='macro')

rfrs1, rfrs2, rfrs3,np.average([rfrs1, rfrs2, rfrs3], weights=[2,1,1])

(0.9871253593094177,
 0.9957950057193393,
 0.9933997464596063,
 0.9908613676994452)

In [ ]:
# individual 100%

In [122]:
rfrs1=recall_score(y_gr, preds_gr, average='macro')
rfrs2=recall_score(y_vd, preds_vd, average='macro')
rfrs3=recall_score(y_cd, preds_cd, average='macro')

In [123]:
rfrs1, rfrs2, rfrs3,np.average([rfrs1, rfrs2, rfrs3], weights=[2,1,1])

(0.9850148861990912, 0.9934407782134044, 0.990401420265788, 0.9884679927193436)

In [136]:
print('score mod1:',scores(y, y_pred1))
print('score mod2:',scores(y, y_pred2))
print('score mod3:',scores(y, y_pred3))

score mod1: (0.9791288136227843, 0.992095667949485, 0.9890181961459653, 0.9848428728352547)
score mod2: (0.9770276579062256, 0.9914654198133533, 0.9877529780232656, 0.9833184284122675)
score mod3: (0.9787038698519229, 0.9924437456693674, 0.9897706553381732, 0.9849055351778466)

In [137]:
modGR.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 2020,
 'verbose': 0,
 'warm_start': False}